html{
  font-size: 10px;
  font-family: 'Inter', sans-serif;
}

body{
  background-color: rgb(55, 55, 55);
  color: white;
  font-weight: 400;
}

button{
  background-color: rgb(69, 69, 69);
  border: solid 2px rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  color: white;
  font-size: 1.6rem;
  margin: 5px;
}

  button:hover{
    cursor: pointer;
    border: solid 2px rgb(255, 255, 255);
  }

  button:active{
    background-color: rgb(50, 50, 50);
    border: solid 2px rgba(255, 255, 255, 0.3);
    font-size: 1.5rem;
    transition: 75ms;
  }

/* Search bar */
.searchbar{
  display: flex;
  align-items: center;
  justify-content: center;
}

  .searchbar--searchbar-input{
    background-color: transparent;
    border: solid 2px rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    font-size: 1.8rem;
    color: white;
  }

    .searchbar--searchbar-input:hover{
      border: solid 2px rgb(255, 255, 255);
    }

  .searchbar--button{
    font-size: 1.8rem;
    border: solid 3px rgba(255, 255, 255, 0.603);
  }

    .searchbar--button:hover{
      border: solid 3px rgb(255, 255, 255);
    }

    .searchbar--button:active{
      background-color: rgb(50, 50, 50);
      border: solid 2px rgba(255, 255, 255, 0.3);
      font-size: 1.7rem;
      transition: 75ms;
    }

/* Change buttons */

    .changeButtons--left{
      background-color: transparent;
      background-image: url("/src/assets/left-arrow.png");
      background-repeat: no-repeat;
      border: transparent;
      background-size: 50px;
      background-position: center;
      width: 50px;
      height: 80px;
      position: absolute;
      top: 162.5px;
      margin-top: 0;
      margin-left: 10px;
    }

    .changeButtons--right{
      background-color: transparent;
      background-image: url("/src/assets/right-arrow.png");
      background-repeat: no-repeat;
      background-position: 0 0;
      border: transparent;
      background-size: 50px;
      background-position: center;
      width: 50px;
      height: 80px;
      position: absolute;
      top: 162.5px;
      right: 0;
      margin-top: 0;
      margin-right: 10px;
    }

      .changeButtons--left:hover,.changeButtons--right:hover{
        border: transparent;
        margin: 0;
        transition: ease-in 100ms;
      }

/* Pokemon */
.pokemon{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 327px;
}

  .pokemon--name{
    font-weight: 600;
    font-size: 3rem;
    margin-bottom: 0;
  }

  .pokemon--img{
    width: 250px;
    margin-top: 10px;
  }

  .pokemon--img--div{
    background-image: url("../src/assets/pokeball-background.png");
    background-repeat: no-repeat;
    background-size: 250px;
    display: inline-block;
  }

    .pokemon--img:hover{
      margin-top: 0;
      margin-bottom: 10px;
      transition: ease-in 100ms;
      cursor: pointer;
    }

  .pokemon--button{
    position: relative;
    background-color: transparent;
    border: transparent;
    color: white;
    font-size: 2rem;
    margin-top: 0;
  }

    .pokemon--button:hover{
      top: -3px;
      transition: ease-in 100ms;
      border: transparent;
    }

/* Pokemon Data */
.pokemon-data{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* Pokemon info div*/
.pokemon-info-div{
  border: solid 3px white;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 30%;
}


/* Pokemon Info */
.pokemonInfo--title{
  font-size: 1.6rem;
  font-weight: 400;
}

  .pokemonInfo--title>span{
    font-size: 1.8rem;
    font-weight: 600;
  }

/* Pokemon abilities */

  .pokemonAbilities--title{
    font-size: 1.8rem;
    font-weight: 600;
  }

    .pokemonAbilities--title:hover{
      cursor: pointer;
    }

  .pokemonAbilities--ability{
    font-size: 1.4rem;
    font-weight: 400;
  }

/* Pokemon Moves */

.pokemonMoves--title{
  font-size: 1.8rem;
  font-weight: 600;
}

  .pokemonMoves--title:hover{
    cursor: pointer;
  }

.pokemonMoves--move{
  font-size: 1.4rem;
  font-weight: 400;
}

/* Pokemon Stats */
.pokemonStats{
  border: solid 3px white;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 30%;
  max-height: 236px;
}

  .pokemonStats--stats{
    font-size: 1.6rem;
    font-weight: 400;
  }
  
    .pokemonStats--stats>span{
      font-size: 1.8rem;
      font-weight: 600;
    }